@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --font-800: 'Montserrat, sans-serif';
    --font-500: 'Poppins', sans-serif;
}
